@media (min-width: 320px) and (max-width: 576px) {
  .container-custom {
    padding: 0;

    .footer {
      height: fit-content;
      padding: 5px 10px;

      .rs-logo-container {
        .rs-logo-icon {
          height: 20px;
        }
      }

      .github-logo-container {
        .github-logo-icon {
          height: 20px;
        }
      }
    }
  }
}

@media (min-width: 576.98px) and (max-width: 768px) {
}

@media (min-width: 768.98px) and (max-width: 992px) {
}

@media (min-width: 992.98px) and (max-width: 1367px) {
}

@media (min-width: 1367.98px) and (max-width: 2652.98px) {
}
