.sidebar {
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: $bgColorSidebar;

  .photo {
    width: 100%;

    .photo__element {
      width: 100%;
    }
  }

  .tech-skills {
    .tech-skills__title {
      @include sidebar-title;
    }

    .tech-skills__list {
      padding-left: 1rem;

      .tech-skills__item {
        color: $colorItem;
        display: flex;
        align-items: center;

        span {
          @include sidebar-skills-items;
        }
      }
    }
  }

  .soft-skills {
    .soft-skills__title {
      @include sidebar-title;
    }

    .soft-skills__list {
      padding-left: 1rem;

      .soft-skills__item {
        display: flex;
        color: $colorItem;

        span {
          @include sidebar-skills-items;
        }
      }
    }
  }

  .languages {
    .languages__title {
      @include sidebar-title;
    }

    .languages__list {
      padding-left: 1rem;

      .languages__item {
        display: flex;
        color: $colorItem;

        span {
          @include sidebar-skills-items;
        }
      }
    }
  }
}

@import '../media/sidebar-media';
